{% load static %}

<nav class="bg-white dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="/" class="flex items-center rtl:space-x-reverse">
            <img src="{% static 'img/logo-removebg.png' %}" class="h-20" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"><span class="text-blue-700 font-bold">ART</span>PythonCodes</span>
        </a>
        <div class="flex items-center space-x-4 rtl:space-x-reverse">
            <a href="tel:5541251234" class="text-sm text-gray-500 dark:text-white hover:underline">(555) 412-1234</a>
            <a href="#" class="text-sm text-blue-700 dark:text-blue-700 hover:underline"><i class='bx bxs-envelope text-2xl'></i></a>
            <a href="#" class="text-sm text-blue-700 dark:text-blue-700 hover:underline"><i class='bx bxl-linkedin text-2xl'></i></a>
        </div>
    </div>
</nav>
<nav class="bg-gray-50 dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Inicial</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Solicitar um Projeto</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Meu GitHub</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Sobre Mim</a>
                </li>
            </ul>
        </div>
    </div>
</nav>